.ShotButtons-group button {
    background-color: white; /* White background */
    border: 1px solid green; /* Green border */
	margin: 5px;
    color: green; /* Green text */
    padding: 10px 24px; /* Some padding */
//    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.ShotButtons-group button.attempted {
    background-color: white; /* White background */
	border: 3px solid green;
	margin: 3px;
}

.ShotButtons-group button.made {
    background-color: green; /* green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
}
